body { 
    margin: auto; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    width: 1200px;
}
h1, h3 {
    color: #338;
}
li, td { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}
hr {
    color: #33c; 
}
a { 
    color: #000
}
a:hover {
    color: #33c;

}
div.formblock {
    background: #ccc;
    width: 300px;
    padding: 6px;
    border: 1px solid #000;                        
}
section {
    height: 91vh;
    border-bottom: 1px solid #33c;
}
aside {
    float: right;
}
footer {
    text-align: center;
    padding: 20px;
}
.info ul li{
    font-size: 32px;
    list-style: none;
    color: #338;
    line-height: 1.5em;
}